.navbar-profile-pic img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
}

.nav-item {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 25px;
}
.nav-link {
  margin-top: 20px;
  cursor: pointer;
}

.nav-link svg {
  margin-right: 10px;
}
.nav-link:hover {
  color: #69fdf6;
}

.nav-link .active {
  color: #69fdf6;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}
